@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:wght@500&family=Outfit:wght@100;500&family=Press+Start+2P&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

.container {
    position: relative;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    gap: 50px;
}

.liveContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    font-family:'Press Start 2P', cursive;
    border-radius: 8px;
    padding: 12px 20px;
    width: 90%;
    height: 90vh;
}

.userInfosCurrGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    gap: 5px;
    padding: 4px 12px;
    color: white;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(15,125,169);
}

.userInfosCurrGame:hover {
    background-color: rgba(15,125,169, 0.4);
}
.GameText {
    color: white;
    font-size: 42px;
    font-weight: bolder;
}

.CurrentGame {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 5px;
    border: 2px solid white;
    width: 100%;
    height: 87vh;
    padding: 10px;
    border-radius: 25px;
}

.gameContent {
    width: 50%;
    min-height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.gamePict {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: block;
}

.pictpong {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px 0px 0px 14px;
}

.gameContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    color: aliceblue;
    font-family:'Press Start 2P', cursive;
    border-radius: 15px;
    height: 80vh;
    margin-top: 20px;
}

.flexImage {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.flexImageGame {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
/* .avatar {
    width: 80px;
    height: 80px;
} */

.images {
    border-radius: 50%;
    border: 4px solid rgba(15,125,169, 0.6);
    width: 100px;
    height: 100px;
}

.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.userName {
    font-size: 14px;
    font-weight: bold;
}
.gameHomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.Title {
    color: white;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

/* game result style */

.gameResultContainer {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%; 
   background: transparent;
   border-radius: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(15,125,169, 0.4);
}

.formThemes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.userInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 4px;
    margin-bottom: 10px;
}
.score {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 800;
    color: rgb(217, 237, 245) ;
    border: 2px solid white;
    padding: 0px 10px;
    border-radius: 0px 0px 18px 18px;
    height: 50px;
    width: 100%;
}
.liveIcon {
    font-size: 40px;
    color: #F5F8FA;
    animation: showing 0.8s infinite;
}

@keyframes showing {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            top:0px;
        }

}
.noMatch {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.waitOp {
    color: white;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

.overTitle {
    font-family:'Press Start 2P', cursive;
    font-size: 35px;
    color: white;
}
.btnplay {
    border:3px solid white;
    font-family:'Press Start 2P', cursive;
    font-size:22px;
    font-weight: bolder;
    color:"white";
    border-radius:22px;
    color: white;
    padding: 8px 12px;
    background: none;
    margin-top: 50px;
    cursor: pointer;
}

.btnplay:hover {
    background-color: rgba(15,125,169, 0.6);
}

.overBtn {
    border:2px solid white;
    font-family:'Press Start 2P', cursive;
    font-size:22px;
    font-weight: bolder;
    color:"white";
    border-radius:22px;
    color: white;
    padding: 8px 12px;
}

.emoji1 {
    animation: move 3.5s infinite;
    position: relative;
    font-size: 42px;
}
.emoji2 {
    animation: move 5s infinite;
    position: relative;
    font-size: 42px;
}
.emoji3 {
    animation: move 6s infinite;
    position: relative;
    font-size: 42px;
}

.card {
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes move {
    0% {
        opacity: 1;
        top: 0px;
    }
    25% {
        opacity: 0.5;
        top : -20px;
    }
    50% {
        opacity: 1;
        top: 0px;
    }
    75% {
        opacity: 0.5;
        top: -20px;
    }
    100% {
        opacity: 1;
        top:0px;
    }
}

@media only screen and (max-width: 1400px) {
    .gamePict {
        display: none;
   }
   .gameContent {
    width: 100%;
    gap: 0px;
   }
   .gameContainer {
        height: 75vh;
        margin-top: 0;
   }
}

@media only screen and (max-width: 1250px) {
    .userInfos {
        gap: 80px;
    }

    .pictpong {
        display: none;
   }
   .Title {
    font-size: 14px;
   }
   .userName {
    font-size: 8px;
    }
    .waitOp {
        font-size: 15px;
    }
    .noMatch {
        font-size: 12px;
    }
    .userInfosCurrGame {
        padding: 3px 7px;
    }
}
@media only screen and (max-width: 951px) {
   .container {
    width: 70%;
   }
   .gameHomeContainer {
        padding: 50px;
    }
   .gamePict {
    width: 100%;
   }
   .gameContent {
    width: 100%;
    gap: 5px;
    padding: 2px 6px;
   }
   /* .gameContent {
    margin-top: -100px;
   } */
   .pictpong {
        display: none;
   }
   .Title {
    font-size: 13px;
   }
   .userInfos {
    gap: 15px;
   }
   .score {
    font-size: 8px;
    padding: 0px 3px;
   }
   .images {
    width: 60px;
    height: 60px;
   }
   .overTitle {
    font-size: 18px;
   }
   .overBtn {
    font-size: 13px;
   }
   .waitOp {
    font-size: 12px;
   }
   .noMatch {
    font-size: 5px;
   }
   .emoji1, .emoji2, .emoji3 {
    font-size: 22px;
   }
   .CurrentGame {
    height: 70vh;
    padding-top: 10px;
   }

}