html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    height: calc(10vh - 100px);
  }
}

.errorpage {
  background-color: #131e2bfd;
  
  height: 100%;
}

.Login {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -250px;
  bottom: 250px;
  margin: auto;
}

.checkcode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.checkcode * {
  border-radius: 5px;
  width: 500px;
}

.checkcode h1 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divForm {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.Login form {
  display: flex;
  justify-content: center;
}
.Login form button {
  color:rgb(207, 209, 210);
  border-radius: 6px;
  margin: 20px;
  width: 100%;
}

.Login form button:hover {
  background-color: #6c5dd3;
}

.loadingDiv {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -250px;
  bottom: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center ;
}

/* ################################################## users cards ################################################## */

.emptyusers {
  position: relative;
  color: white;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.usersDiv {
  background-color: #132031;
  border-radius: 12px;
  min-height: calc(50vh - 100px);
  margin: 0 auto;
  margin-top: 20px;
  width: 92%;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  
}

.usersDivF {
  background-color: #132031;
  border-radius: 12px;
  min-height: calc(50vh - 100px);
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.usersvl {
  color: white;
  font-size: xx-large;
  margin-left: 30px;
  margin-top: 10px;
  width: 100px;
}

.condiv{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 28px;
  gap: 12px;
}

.condivF {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 28px;
  gap: 12px;
}

/* @media (min-width: 768px) {
  .condiv{
    grid-template-columns: repeat(2,minmax(0px,1fr));
  }
  .usersDiv {
    width: 92%;
  }

}

@media (min-width: 1000px) {
  .condiv{
    grid-template-columns: repeat(3,minmax(0px,1fr));
  }
}

@media (min-width: 1220px) {
  .condiv{
    grid-template-columns: repeat(4,minmax(0px,1fr));
  }
}

@media (min-width: 1480px) {
  .condiv{
    grid-template-columns: repeat(5,minmax(250px,1fr));
  }
}

@media (min-width: 1810px) {
  .condiv{
    grid-template-columns: repeat(6,minmax(0px,1fr));
  }
}

@media (min-width: 2110px) {
  .condiv{
    grid-template-columns: repeat(7,minmax(0px,1fr));
  }
}

@media (min-width: 2400px) {
  .condiv{
    grid-template-columns: repeat(8,minmax(0px,1fr));
  }
} */

.cards {
  padding: 0px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  border-radius: 20px;
}
body {
  background-color: #1E2127;

  background-color: #0c1827;
}
.card {
  position: relative;
  width: 250px;
  height: 220px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 2px 20px 8px #040d18;
}

.card:hover {
  filter: drop-shadow(1rem 1rem 1rem hsl(224, 15%, 10%));
}

.card_image {
  width: 100%;
  border-radius: 20px;
}

.card_Items {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #0c1827;
  border-radius: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.card_header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;

  background-color: #0c1827;
}

.card_PImg {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card_title {
  font-size: 1em;
  margin: 0 0 .3em;
  color :rgb(207, 209, 210);
}


.card_status {
  font-size: .8em;
}

.card_btns {
  padding-bottom: 1rem;
  justify-content: space-around;
  margin: 0;

  background-color: #0c1827;
  overflow: hidden;
  border-radius: 20px;
}

.cancelRqstBtn {
  background-color:rgb(54, 54, 54);
  color: rgb(185, 185, 185);
  width: 110px;
}

.cancelRqstBtn:hover {
  background-color: rgb(70, 70, 70);
}

.confirmBtn {
  width: 110px;
  color: rgb(211, 211, 211);
}

.Online_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  
  background-color: #0fcc45;
  border-radius: 50%;
  
  position: relative;

}

.Ofline_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  
  background-color: white;
  border-radius: 50%;
  
  position: relative;
}

.ingame {
  display: flex;
  color: orange;
  font-weight: bold;
  opacity: 0.5;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% { transform: scale(1, 1); 
          opacity: 1;
        }
}

.TwoFa {
  background-color: none;
  width: 300px;
  height: 260px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px 18px;

}