html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    height: calc(10vh - 100px);
  }
}

.Login {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -250px;
  bottom: 250px;
  /* left: 0; */
  /* right: 0; */
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
}

.divForm {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.Login form {
  display: flex;
  justify-content: center;
}
.Login form button {
  color:rgb(207, 209, 210);
  border-radius: 6px;
  margin: 20px;
  width: 100%;
}

.Login form button:hover {
  /* background-color: #335aac; */
  background-color: #6c5dd3;
}

.loadingDiv {
  /* background-color: #0fcc45; */
  width: 100%;
  height: 100px;
  position: absolute;
  top: -250px;
  bottom: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center ;
}

/* ################################################## users cards ################################################## */

.emptyusers {
  color: white;
  display: flex;
  justify-content: center;
}

.usersDiv {
  background-color: #0c1827;
  border-radius: 12px;
  border: 2px solid #ffffff1c;
  min-height: calc(50vh - 100px);
  margin: auto;
  /* margin-left: 50px; */
  margin-top: 20px;
  width: 70%;
  align-items: center;
  justify-content: center;
  
}

/* .usersDiv h1 {
  color: white;
  margin-left: 50px;
  margin-bottom: 10px;
} */

.usersvl {
  color: white;
  font-size: xx-large;
  margin-left: 40px;
  margin-top: 10px;
  width: 100px;
  border-bottom: 2px solid #ffffff44;
}

.condiv{
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: 300px 300px 300px 300px; */
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1094px) {
  .condiv{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* grid-template-columns: 300px 300px 300px 300px; */
    padding: 50px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.cards {
  padding: 0px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
body {
  /* min-width: 610px; */
  background-color: #0c1827;
    /* height: 100px;
    overflow:auto; */
  /* height: 500px; */
  /* background-color: black; */
  /* background-image: url(../../files/pongbackg.jpeg); */
}
.card {
  position: relative;
  /* display: block; */
  width: 250px;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

.card_image {
  width: 100%;
  height: auto;
}

.card_Items {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card_Items {
  transform: translateY(0);
}

.card_header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  background-color: black;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card:hover .card_header {
  transform: translateY(0);
}

.card_PImg {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card_title {
  font-size: 1em;
  margin: 0 0 .3em;
  color :rgb(207, 209, 210);
}


.card_status {
  font-size: .8em;
}

.card_btns {
  padding-bottom: 1rem;
  justify-content: space-around;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.cancelRqstBtn {
  background-color:rgb(54, 54, 54);
  color: rgb(185, 185, 185);
  width: 110px;
}

.cancelRqstBtn:hover {
  background-color: rgb(70, 70, 70);
}

.Online_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  
  background-color: #0fcc45;
  border-radius: 50%;
  
  position: relative;

}

.Ofline_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  
  background-color: white;
  border-radius: 50%;
  
  position: relative;
}

.ingame {
  display: flex;
  color: orange;
  font-weight: bold;
  /* align-items: center; */
  /* gap: 5px; */
  /* justify-content: center; */
  opacity: 0.5;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% { transform: scale(1, 1); 
          opacity: 1;
        }
}