html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    height: calc(10vh - 100px);
  }
}

.errorpage {
  background-color: #131e2bfd;
  
  height: 100%;
}

.Login {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -250px;
  bottom: 250px;
  /* left: 0; */
  /* right: 0; */
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
}

.divForm {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.Login form {
  display: flex;
  justify-content: center;
}
.Login form button {
  color:rgb(207, 209, 210);
  border-radius: 6px;
  margin: 20px;
  width: 100%;
}

.Login form button:hover {
  /* background-color: #335aac; */
  background-color: #6c5dd3;
}

.loadingDiv {
  /* background-color: #0fcc45; */
  width: 100%;
  height: 100px;
  position: absolute;
  top: -250px;
  bottom: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center ;
}

/* ################################################## users cards ################################################## */

.emptyusers {
  color: white;
  display: flex;
  justify-content: center;
}

.usersDiv {
  background-color: #0c1827;
  border-radius: 12px;
  /* border: 2px solid #ffffff1c; */
  box-shadow: -5px 2px 18px 4px #20272f;
  min-height: calc(50vh - 100px);
  margin: 0 auto;
  /* margin-left: 50px; */
  margin-top: 20px;
  width: 92%;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  
}

/* .usersDiv h1 {
  color: white;
  margin-left: 50px;
  margin-bottom: 10px;
} */

.usersvl {
  color: white;
  font-size: xx-large;
  margin-left: 30px;
  margin-top: 10px;
  width: 100px;
  /* border-bottom: 2px solid #ffffff44; */
}

.condiv{
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: 300px 300px 300px 300px; */
/* hlimouni 
  /* padding: 50px; */
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
*/
  padding: 30px;
  /* display: flex; */
  display: grid;
  /* grid-template-columns: repeat(8,minmax(0px,1fr)); */
  grid-gap: 2rem;
  /* border-radius: 20px; */
  /* gap: 20px; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* width: 500px; */
}

@media (min-width: 900px) {
  .condiv{
    grid-template-columns: repeat(2,minmax(0px,1fr));
  }
  .usersDiv {
    width: 92%;
  }

}

@media (min-width: 1200px) {
  .condiv{
    grid-template-columns: repeat(3,minmax(0px,1fr));
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* grid-template-columns: 300px 300px 300px 300px; */
    /* padding: 50px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
  }
}

@media (min-width: 1580px) {
  .condiv{
    grid-template-columns: repeat(4,minmax(0px,1fr));
  }
}

@media (min-width: 2000px) {
  .condiv{
    grid-template-columns: repeat(5,minmax(0px,1fr));
  }
}

/* @media (min-width: 1810px) {
  .condiv{
    grid-template-columns: repeat(6,minmax(0px,1fr));
  }
} */

/* @media (min-width: 2110px) {
  .condiv{
    grid-template-columns: repeat(7,minmax(0px,1fr));
  }
} */

@media (min-width: 2400px) {
  .condiv{
    grid-template-columns: repeat(6,minmax(0px,1fr));
  }
}



.cards {
  padding: 0px;
  display: flex;
  justify-content: center;
  list-style-type: none;

  border-radius: 20px;
  /* hlimouni 
   margin-top: 0; */

}
body {
  background-color: #1E2127;
  /* min-width: 610px; */

  background-color: #0c1827;
    /* height: 100px;
    overflow:auto; */
  /* height: 500px; */
  /* background-color: black; */
  /* background-image: url(../../files/pongbackg.jpeg); */
}
.card {
  position: relative;
  /* display: block; */
  width: 250px;
  height: 220px;
  border-radius: 20px;
  /* overflow: hidden; */
  /* margin-bottom: 100px; */
  text-decoration: none;
  box-shadow: 0px 2px 20px 8px #040d18;
}

.card:hover {
  filter: drop-shadow(1rem 1rem 1rem hsl(224, 15%, 10%));
}

.card_image {
  width: 100%;
  /* height: auto; */
  border-radius: 20px;
}

.card_Items {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #0c1827;
  /* transform: translateY(100%);
  transition: .2s ease-in-out; */
  border-radius: 20px;
  /* hlimouni 
    background-color: #242731;
  transform: translateY(100%);
  transition: .2s ease-in-out; */
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.card:hover .card_Items {
  /* transform: translateY(0); */
}

.card_header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;

  background-color: #0c1827;
  /* border-radius: 20px; */
  /* transform: translateY(-100%);
  transition: .2s ease-in-out; */
  /* hlimouni
    background-color: #242731;
  transform: translateY(-100%);
  transition: .2s ease-in-out; */
}

.card:hover .card_header {
  /* transform: translateY(0); */
}

.card_PImg {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card_title {
  font-size: 1em;
  margin: 0 0 .3em;
  color :rgb(207, 209, 210);
}


.card_status {
  font-size: .8em;
}

.card_btns {
  padding-bottom: 1rem;
  justify-content: space-around;
  margin: 0;

  background-color: #0c1827;
  /* hlimouni
  background-color: #242731; */
  overflow: hidden;
  border-radius: 20px;
}

.cancelRqstBtn {
  background-color:rgb(54, 54, 54);
  color: rgb(185, 185, 185);
  width: 110px;
}

.cancelRqstBtn:hover {
  background-color: rgb(70, 70, 70);
}

.confirmBtn {
  width: 110px;
  color: rgb(211, 211, 211);
}

.Online_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  
  background-color: #0fcc45;
  border-radius: 50%;
  
  position: relative;

}

.Ofline_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  
  background-color: white;
  border-radius: 50%;
  
  position: relative;
}

.ingame {
  display: flex;
  color: orange;
  font-weight: bold;
  /* align-items: center; */
  /* gap: 5px; */
  /* justify-content: center; */
  opacity: 0.5;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% { transform: scale(1, 1); 
          opacity: 1;
        }
}

.TwoFa {
  background-color: #20272f;
  width: 250px;
  height: 300px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}