.layout
{
    width: 100%;
    /* display: block; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: row; */

}
.main_header
{
    height: 80px;
    width: 100%;
    background-color: #0c1827;
    display: block;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: -5px 2px 18px 4px #20272f;
    /* display: grid; */
}
.account_setting
{
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.NotifBtnMobile{
    display: none;
}

.NotifMobile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_nav
{
    height: calc(107vh - 100px);
    background-color: #0c1827;
    width: 250px;
    display: inline-block;
    font-size: 20px;
    display: none;
    /* overflow: hidden; */
    /* transition: 0.5s; */
}

.ProfileCard {
    margin-top: 20px;
    margin-left: 20px;
    height: calc(107vh - 100px);
    background-color: #0c1827;
    /* width: 500px; */
    width: 300px;
    max-width: 350px;
    display: inline-block;
    font-size: 20px;

    /* display: none; */
}

/* .main_nav:hover{ */
    /* width: 300px; */
    /* transition: 0.5s; */
/* } */
.main_nav ul li
{
    border-radius: 0px;
    margin-bottom: 10px;
}
.main_nav ul li:hover 
{
    background-color: #6d5dd300;
    /* background-color: #410d0d35; */
    border-radius: 0px;
    color: white;
    font-weight: bold;
}

.main_content
{
    display: flex;
    flex-direction: row;
    /* padding-top: 20px; */
}

.vl {
    border-left: 2px solid #ffffff1c;
    display: none;
}

.navwithmain {
    width: 100%;
}

@media (max-width: 780px) {
    .main_nav
    {
        height: calc(107vh - 100px);
        background-color: #0c1827;
        width: 100px;
        display: inline-block;
        font-size: 20px;
        border-radius: 12px;
        box-shadow: -5px 2px 18px 4px #20272f;
        /* display: none; */
        /* overflow: hidden; */
        /* transition: 0.5s; */
    }
    .vl {
        display: none;
    }
    .account_setting{
        display: none;
    }
    .NotifBtnMobile{
        display: block;
    }
    .ProfileCard{
        display: none;
    }
}

.listItems {
    font-weight: bolder;
}
.itemsUl {
    /* background-color: aqua; */
    display: flex;
    color: #8f8f8f;
}

.itemsUlMobile {
    align-items: center;
    justify-content: center;
}

.itemsUl:not(li):hover {
    /* background-color: #6c5dd3; */
}

/*###################    MainCard    ##################*/

.cardsL {
    width: 300px;
    /* height: 460px; */
    padding: 0px;
    border-radius: 20px;
    box-shadow: -5px 2px 18px 4px #20272f;
    background-color: #0c1827;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  
  }
  .cardL {
    width: auto;
    border-radius: 20px;
  }
  
  .card_imageL {
    width: 100%;
    opacity: 0.5;
    /* border-radius: 20px; */
  }
  
.card_contentL1{
    /* position: relative;
    top: -50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

  .card_ItemsL {
    position: relative;
    top: -70px;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: black; */
    display: flex;
    align-items:flex-end;
    justify-content: center; 
    border-radius: 20px;
    
  }
  

  .card_PImgL {
    /* position: relative;
    top: -50px; */
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;      
  }

.cardContent {
    position: relative;
    top: -30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .card_headerL {
    position: relative;
    display: flex;
    justify-content: center; 
    top: -40px;
    /* background-color: #0c1827; */
    align-items: center; 
    flex-direction: column;
    /* padding-bottom: 20px; */
    border-radius: 20px;
  }
  
  .card_titleL {
    margin: 0;
    /* margin-bottom: 30px; */
    color :rgb(240, 240, 240);
  }
  .card_User {
      margin: 0;
      color: rgb(171, 171, 171)  ;
  }
  
.card_btnsL {
    justify-content: center;
    border-radius: 20px;
}

.card_btnsL button {
    width: 250px;
    margin-top: 30px;
  }
.card_btnsL button:hover {
    color: rgb(180, 180, 180);
    background-color: #5245a4;
}