.layout
{
    width: 100%;
    /* display: block; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: row; */

}
.main_header
{
    height: 80px;
    width: 100%;
    background-color: #0c1827;
    display: block;
    display: flex;
    justify-content: flex-end;
}
.account_setting
{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_nav
{
    height: calc(107vh - 100px);
    background-color: #0c1827;
    width: 230px;
    display: inline-block;
    /* overflow: hidden;
    transition: 0.5s; */
    font-size: 20px;
}
/* .main_nav:hover{ */
    /* width: 300px; */
    /* transition: 0.5s; */
/* } */
.main_nav ul li
{
    border-radius: 0px;
    margin-bottom: 10px;
}
.main_nav ul li:hover 
{
    background-color: #6d5dd300;
    /* background-color: #410d0d35; */
    border-radius: 0px;
    color: white;
    font-weight: bold;
}

.main_content
{
    display: flex;
    flex-direction: row;
    /* padding-top: 20px; */
}

.vl {
    border-left: 2px solid #ffffff1c;
}

.navwithmain {
    width: 100%;
}

.listItems {
    font-weight: bolder;
}