.profile, .profile > * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal_title {
    padding: .7em .9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal_avatar {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: space-between;
    padding-bottom: 0;
}

.profile {
    background-color: #1E2127;
    display: inline;
}

.profileBody {
    max-width: 76rem;
    margin: 0 auto;
}

.menu {
    font-size: 1.2em;
    color: white;
    padding: 2em 0;
    display: flex;
    gap: 2.4em;
    list-style-type: none;
}

.tabs {
    margin: 2em 0;
}

.menu > a {
    /* border-bottom: 3px solid #3F8CFF; */
    padding: .6em 1em;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    color: blue;
}

.profileInfos {
    display: flex;
    gap: 1.5em;
}

.cover {
    height: 33rem;
}

.editButton {
    margin-right: 0;
}

.profileText {
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 0.2em;
}

.sub {
    font-size: 60%;
}

.profileBanner {
    padding: 3rem 2em;
    display: flex;
    /* flex-wrap: wrap; */
    border-radius: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    /* position: absolute; */
    /* transform: translate(0, -10rem); */
    background-color: #242731;
    width: 76rem;
    height: 14rem;
    margin: 0 auto;
    transform: translate(0, -7rem);
}

.friends {
    display: grid;
    gap: 1em;
}

.oneFriend {
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    width: 30rem;
    height: 5rem;
    background-color: #242731;
    border-radius: 1.5rem;
}

.friend-state {
    margin: 2em;
}

.coverImage {
    object-fit: cover;
    width: 100vw;
    height: 26rem;
}

.winStats {
    width: 25rem;
    height: 25rem;
    padding: 3rem;
    margin: 1.5rem 0;
    background-color: #242731;
    border-radius: 1.3em;
}

.scores {
    background-color: #242731;
    /* background-color: #3F8CFF; */
    padding: 3rem;
    margin: 1.5rem 0;
    width: 40rem;
    height: 25rem;
    border-radius: 1.5rem;
}